pip==23.3.1
appdirs==1.4.4
attrs==23.1.0
Babel==2.6.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.12.2
brazilcep==6.2.0
cached-property==1.5.2
certifi==2023.11.17
cffi==1.16.0
chardet==3.0.4
charset-normalizer==3.3.2
click==8.1.7
convertdate==2.4.0
coverage==7.3.3
cryptography==41.0.7
decorator==4.3.0
defusedxml==0.7.1
dnspython==2.4.2
docutils==0.14
ebaysdk==2.1.5
email-validator==2.1.0.post1
erpbrasil.assinatura==1.7.0
erpbrasil.base==2.3.0
erpbrasil.edoc==2.7.0
erpbrasil.edoc.pdf==1.1.0
erpbrasil.transmissao==1.1.0
freezegun==0.3.15
future==0.18.3
Genshi==0.7.7
gevent==20.9.0
greenlet==0.4.17
idna==2.6
isodate==0.6.1
Jinja2==2.11.2
libsass==0.17.0
lunardate==0.2.2
lxml==4.6.5
Mako==1.0.7
MarkupSafe==1.1.0
mock==5.1.0
multidict==6.0.4
nfelib==2.0.3
nfselib.barueri==1.0.0
nfselib.ginfes==0.2.0
nfselib.paulistana==0.2.0
num2words==0.5.6
ofxparse==0.19
passlib==1.7.1
phonenumbers==8.13.27
Pillow==8.1.1
pip==23.3.1
platformdirs==4.1.0
polib==1.1.0
psutil==5.6.6
psycopg2==2.8.5
py3o.template==0.10.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
pydot==1.4.1
pyjon.utils==0.7
pyluach==2.2.0
PyMeeus==0.5.12
pyOpenSSL==23.3.0
pyparsing==3.1.1
PyPDF2==1.26.0
pyserial==3.4
python-dateutil==2.7.3
python-ldap==3.1.0
python-stdnum==1.8
pytz==2023.3.post1
pyusb==1.0.2
PyYAML==6.0.1
qrcode==6.1
reportlab==3.5.55
requests==2.31.0
requests-file==1.5.1
requests-toolbelt==1.0.0
satcomum==2.2
setuptools==69.0.2
sh==2.0.6
signxml==3.0.2
six==1.16.0
soupsieve==2.5
typing_extensions==4.9.0
Unidecode==1.3.7
urllib3==1.24.3
vcrpy==5.1.0
vobject==0.9.6.1
websocket-client==1.7.0
Werkzeug==0.16.1
wheel==0.42.0
workalendar==17.0.0
wrapt==1.16.0
xlrd==1.2.0
XlsxWriter==1.1.2
xlwt==1.3.0
xmldiff==2.6.3
xsdata==23.8
yarl==1.9.4
zeep==4.2.1
zope.event==5.0
zope.interface==6.1